<head>
	<title>Chat Privado ? </title>
</head>
<body> 
	<div class="container">
		<header>
			<h1>Chat</h1><label class="hide-completed"> 
			</label> 
			{{> loginButtons}} 
			
		</header>
		{{#if currentUser}} 
			Lista de usuarios:
			{{#each list_users}} 	
            	{{>username}}
           	{{/each}} 
			<br />
			<div id='ventana-flotante'>
					<div class="container">
					    <div class="row">
					        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
					            <div class="panel panel-primary" >
					                <div class="panel-heading">
					                    <span class="glyphicon glyphicon-comment"></span> Chat
					                    <div class="btn-group pull-right">                  
					                    	<strong>({{Count}})</strong>Messages
					                    </div>
					                </div>
					                <div class="panel-body" id="aqui">
					                    <ul class="chat">
					                        
					                        
												{{#each messages}} 
					                                   {{> message}} 
												{{/each}} 
											
					                    </ul>
					                </div>
					                <div class="panel-footer">
					                    <div class="input-group">
					                        <div class="new-message">
					                        	<form class="form-horizontal">
													<input type="text" id="btn-input" name="text" class="form-control input-sm" placeholder="Add new message" />
												</form>
											</div>
					                    </div>
					                </div>
					            </div>
					        </div>
					    </div>
					</div>
			</div> 
			{{/if}}
		<ul> 
		
		</ul>
	</div>
	
</body>
<template name="message">
	<div class="row">
		<div class="col-xs-12">
			<li class="{{#if checked}}checked{{/if}}">
				
				<span class="text">
					{{#if currentUser}} 
					<li class="left clearfix">
						<!--<span class="chat-img pull-left">
			            	<img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
			            </span>-->
		                <div class="chat-body clearfix">
		                    <div class="header" id="text-message">
		                        <strong class="primary-font pull-right" title="{{createdAt}}"><small>{{username}}</small></strong><!--<button class="delete btn btn-default btn-xs pull-right">&times;</button>-->		                    
		                    </div>
		                    <span class="col-xs-12"></span>
		                        <div class="row">
		                        	<div class="col-xs-4">
		                        		<div id="box-message">
		                        			<b></b>
		                        			<div class="content-message">
												<p><small>{{text}}</small></p>
											</div>
						                </div>
									</div>
								</div>
				                <div class="row clearfix"></div>
				                <div class="col-xs-12">
			                    	<small class="pull-right text-muted">
			                            <!--<span class="glyphicon glyphicon-time"></span>-->
			                    	</small>
			                    </div>
		                </div>
		            </li>
					{{/if}}
				</span>
			</li>
		</div>		
	</div>
</template>
<template name="username">
<ul>
	<li class="left">
		{{this}}		
	</li>
</ul>
</template>