/* CSS declarations go here */
#ventana-flotante { 
	width: 285px; /* Ancho de la ventana */ 
	height: auto; /* Alto de la ventana */ 
	//background: #ceffad; /* Color de fondo */ 
	position: fixed; 
	bottom:-18px;
	right:1px;
	z-index:999; 
}

/**
*/
.chat{
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
    bottom: 1px;
    width: 100%;
}

.chat li{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.chat li.left .chat-body{
    margin-left: 1px;
}

.chat li.right .chat-body{
    margin-right: 10px;
}


.chat li .chat-body p{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon{
    margin-right: 10px;
}

.panel-body{
    overflow-y: auto scroll; 
    max-height: 250px;
    overflow-x: hidden;
}

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar{
    width: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.content-message{
	margin: 0 20px 8px 20px;
	position: relative;

}
.content-message p{
	margin-top: 20px;
}
.content-message p small{
	font-weight: bold;
	color:steelblue;
}
#box-message{
	margin-top:10px;
	margin-bottom:10px;
	background-color: #A9F5E1;
	width: 220px;
	word-wrap: break-word;
	color:#DCDCDC;
	border-radius: 5px;
}
#box-message b{
	background-color: #A9F5E1;
	width: 15px; 
	height: 15px; 
	margin-left: 190px; 
	margin-top: -7px; 
	position: absolute; 
	-webkit-transform: rotate(-45deg); 
	-moz-transform: rotate(-45deg); 
	-o-transform: rotate(-45deg); 
	transform: rotate(-45deg); 
}